*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    line-height: 2.3;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

header{
    width: 100%;
    height: 70vh;
    background-image: url("https://i.postimg.cc/fTJN73C8/Rectangle-388.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.header-text{
    position: absolute;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu-item{
    display: flex;
    justify-content: flex-end;
}

main{
    margin-top: 9rem;
}

.dotted-background{
    background-image: url("https://i.postimg.cc/wjDTJyxS/Group-31.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.card-section, .second-row{
    margin-bottom: 7rem;
}

.card-section img{
    margin: 3rem 0;
}

.gallery .row{
    padding: 3rem 0;
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.triple-card-grid{
    margin: 4rem 0rem 8rem;
}

.triple-card-grid .row{
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.triple-card-grid .card{
    box-shadow: 2px 5px 5px 3px silver;
    border-radius: 1.5rem;
}

.people-gallery{
    position: relative;
    margin-bottom: 6rem;
}

.people-gallery .row{
    margin: 0 auto;
}

.people-gallery .row div{
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
}

.people-gallery-img1{
    background-image: url("https://i.postimg.cc/Y0gYW2v8/Rectangle-166.png");
}
.people-gallery-img2{
    background-image: url("https://i.postimg.cc/C5yfSyc8/Rectangle-167.png");
}
.people-gallery-img3{
    background-image: url("https://i.postimg.cc/K8Y4XvmV/Rectangle-168.png");
}
.people-gallery-img4{
    background-image: url("https://i.postimg.cc/wjbM98vB/Rectangle-169.png");
}
.people-gallery-img5{
    background-image: url("https://i.postimg.cc/cHfL7vcK/Rectangle-170.png");
}
.people-gallery-img6{
    background-image: url("https://i.postimg.cc/k4skd9J1/Rectangle-171.png");
}


.people-gallery button{
    position: absolute;
        left: 50%;
        top: 50%;
    transform: translate(-50%, -50%);
}

.subscribe input{
    width: 60%;
    height: 45px;
    padding: 8px 16px;
    outline: none;
}

footer .top-part{
    padding: 4rem 0 6rem;
}

footer .bottom-part{
    padding: 2em 0 1em;
    text-align: center;
}

footer ul li{
    list-style: none;
    margin-bottom: .9em;
}

@media(max-width:651px){
    footer .top-part{
        padding: 4rem .5rem .3rem;
    }
}

@media(max-width:354px){
    .subscribe input{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media(max-width:422px){
    .people-gallery button{
        font-size: 11px;
    }
}

@media(max-width:997px){
    .header-text{
        font-size: 13px;
        width: 100%;
    }
    h1, h2, h3, h4, h5{
        font-size: 2rem;
    }
    body{
        font-size: 13px;
    }
}

@media(max-width:990px){
    .main-menu-item{
        background: #fff;
        z-index: 10;
        justify-content: space-around;
    }
    .mr-5{
        margin-right: 0 !important;
    }
    .nav-link{
        width: 120px;
    }
}

@media(max-width:767px){
    .triple-card-grid .card{
        margin-bottom: 2rem;
    }
    .gallery .row{
        display: block;
    }
    .gallery .row div, .people-gallery .row .col-md-2{
        margin: 2rem auto;
        text-align: center;
    }
}